/*
.*

__pycache__

# include back on top level
# -------------------------


# directories
# -----------

!app
!screenshots

# ===========



# files
# ------------

!.gitignore
!README.md

# project manager
!pyproject.toml
!uv.lock

# ============



# ==========================