<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Flawed Site</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
</head>

<body>
    <div id="menu-bar">
        {% if user.is_authenticated %}
        <a class="button" href="{% url 'app:logout' %}">Log out</a>
        {% else %}
        <a class="button" href="{% url 'app:login' %}">Login</a>
        <a class="button" href="{% url 'app:signup' %}">Sign Up</a>
        {% endif %}
    </div>
    {% block body %}
    {% endblock body %}
</body>

</html>