/*
.*

# include back on top level
# -------------------------


# directories
# -----------

!flawedsite
!app

# ===========



# files
# ------------

!.gitignore
!manage.py

# ============



# ==========================